body {
    margin: 0;
}

.nav {
    position: sticky;
    overflow: hidden;
    top: 0;
    background-color: #4545cc;
    color: #ffffff;
    font-variant: small-caps;
    font-weight: bold;
    padding: 8px;
    box-shadow: 0px 1px 1px #4545cc;
}

.main {
    position: static;
    background-color: #dfdfdf;
    background-repeat: repeat-y;
    font-family: sans-serif;
}

.content {
    margin: 30px 0px;
    padding: 10px 20px;
    background-color: #ffffff;
    font-variant: small-caps;
    box-shadow: 0px 2px 2px #888888;
}

.header {
    font-weight: bold;
    font-size: large;
}